<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conn"
            connectionString="server=MSI\SQLEXPRESS;database = QLDSV; Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project_DBMS_Final.Properties.Settings.QLDSVConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>